
<div class="mainnav">
  <div class="container"><a data-toggle="collapse" data-target=".mainnav-collapse" class="mainnav-toggle"><span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i></a>
    <nav role="navigation" class="collapse mainnav-collapse">
      <ul class="mainnav-menu">
        <li ng-class="{active: baseRoute == &quot;whitelabeling&quot;}" class="dropdown"><a href="#/whitelabeling" data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle"><i class="fa fa-image"></i>&nbsp; Home</a></li>
      </ul>
    </nav>
  </div>
</div>