header.navbar(role='banner')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        i.fa.fa-cog
    nav.collapse.navbar-collapse(role='navigation')
      ul.nav.navbar-nav.navbar-left
        li.navbar-notification
          img.navbar-brand(style='height:45px; padding-top:5px;', src='')
        li.navbar-notification
          h4(style='margin-top:18px; color:#85A1BA;') Organization Name Goes Here
    